body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:56px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:96px;
  width:750px;
  height:90px;
  font-size:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:746px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:66px;
  top:117px;
  width:44px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:56px;
  width:750px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:66px;
  top:198px;
  width:154px;
  height:60px;
  font-size:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:60px;
}
#u9 {
  position:absolute;
  left:0px;
  top:16px;
  width:154px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:260px;
  width:750px;
  height:10px;
  opacity:0.3;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u11 {
  position:absolute;
  left:215px;
  top:205px;
  width:410px;
  height:45px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:24px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:630px;
  top:198px;
  width:160px;
  height:60px;
  font-size:20px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u13 {
  position:absolute;
  left:0px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:260px;
  width:750px;
  height:10px;
  opacity:0.3;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u15 {
  position:absolute;
  left:66px;
  top:273px;
  width:224px;
  height:60px;
  font-size:24px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:60px;
}
#u16 {
  position:absolute;
  left:0px;
  top:16px;
  width:224px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:215px;
  top:343px;
  width:555px;
  height:221px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:221px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:505px;
  top:564px;
  width:285px;
  height:60px;
  font-size:20px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:60px;
}
#u19 {
  position:absolute;
  left:0px;
  top:18px;
  width:285px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:1318px;
  width:750px;
  height:72px;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:72px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:746px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:185px;
  top:831px;
  width:170px;
  height:28px;
  font-size:24px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:455px;
  top:831px;
  width:170px;
  height:28px;
  font-size:24px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:185px;
  top:897px;
  width:170px;
  height:28px;
  font-size:24px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:185px;
  top:765px;
  width:170px;
  height:28px;
  font-size:24px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:50px;
  top:951px;
  width:750px;
  height:10px;
  opacity:0.3;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u31 {
  position:absolute;
  left:50px;
  top:740px;
  width:750px;
  height:10px;
  opacity:0.3;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u32 {
  position:absolute;
  left:66px;
  top:670px;
  width:705px;
  height:60px;
  font-size:24px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:60px;
}
#u33 {
  position:absolute;
  left:0px;
  top:16px;
  width:705px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:650px;
  width:750px;
  height:10px;
  opacity:0.3;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u35 {
  position:absolute;
  left:66px;
  top:979px;
  width:693px;
  height:60px;
  font-size:24px;
  color:#A1A1A1;
  line-height:48px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:60px;
}
#u36 {
  position:absolute;
  left:0px;
  top:-18px;
  width:693px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:226px;
  top:366px;
  width:514px;
  height:60px;
  font-size:24px;
  line-height:36px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u38 {
  position:absolute;
  left:0px;
  top:-6px;
  width:514px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:740px;
  top:854px;
  width:99px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:4px;
  width:99px;
  height:3px;
}
#u40 {
  position:absolute;
  left:860px;
  top:819px;
  width:310px;
  height:80px;
  font-size:24px;
  text-align:left;
  line-height:48px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
