body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:74px;
  top:142px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:74px;
  top:182px;
  width:750px;
  height:90px;
  font-size:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:26px;
  width:746px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:204px;
  width:44px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:74px;
  top:142px;
  width:750px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:358px;
  top:472px;
  width:181px;
  height:181px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u9 {
  position:absolute;
  left:2px;
  top:82px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:234px;
  top:672px;
  width:450px;
  height:124px;
  font-size:28px;
  line-height:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:124px;
}
#u11 {
  position:absolute;
  left:0px;
  top:44px;
  width:450px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:74px;
  top:42px;
  width:760px;
  height:81px;
  font-size:24px;
  text-align:left;
  line-height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:81px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:756px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1220px;
  top:290px;
  width:750px;
  height:1204px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1204px;
}
#u15 {
  position:absolute;
  left:2px;
  top:594px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1220px;
  top:200px;
  width:750px;
  height:90px;
  font-size:34px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
}
#u17 {
  position:absolute;
  left:2px;
  top:25px;
  width:746px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1236px;
  top:221px;
  width:44px;
  height:44px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1220px;
  top:160px;
  width:750px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:870px;
  top:814px;
  width:270px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:3px;
  width:270px;
  height:5px;
}
#u23 {
  position:absolute;
  left:1222px;
  top:491px;
  width:746px;
  height:229px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:229px;
}
#u24 {
  position:absolute;
  left:2px;
  top:106px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1237px;
  top:528px;
  width:215px;
  height:154px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:154px;
}
#u26 {
  position:absolute;
  left:2px;
  top:69px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1462px;
  top:528px;
  width:149px;
  height:82px;
  font-size:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:82px;
}
#u28 {
  position:absolute;
  left:0px;
  top:24px;
  width:149px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1462px;
  top:600px;
  width:259px;
  height:82px;
  font-size:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:82px;
}
#u30 {
  position:absolute;
  left:0px;
  top:27px;
  width:259px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1222px;
  top:750px;
  width:746px;
  height:229px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:229px;
}
#u32 {
  position:absolute;
  left:2px;
  top:106px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1237px;
  top:787px;
  width:215px;
  height:154px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:154px;
}
#u34 {
  position:absolute;
  left:2px;
  top:69px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1462px;
  top:787px;
  width:149px;
  height:82px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:82px;
}
#u36 {
  position:absolute;
  left:0px;
  top:24px;
  width:149px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1462px;
  top:859px;
  width:259px;
  height:82px;
  font-size:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:82px;
}
#u38 {
  position:absolute;
  left:0px;
  top:27px;
  width:259px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1222px;
  top:1008px;
  width:746px;
  height:229px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:229px;
}
#u40 {
  position:absolute;
  left:2px;
  top:106px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1237px;
  top:1045px;
  width:215px;
  height:154px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:154px;
}
#u42 {
  position:absolute;
  left:2px;
  top:69px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1462px;
  top:1045px;
  width:229px;
  height:82px;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:82px;
}
#u44 {
  position:absolute;
  left:0px;
  top:24px;
  width:229px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1462px;
  top:1117px;
  width:259px;
  height:82px;
  font-size:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:82px;
}
#u46 {
  position:absolute;
  left:0px;
  top:27px;
  width:259px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1222px;
  top:1261px;
  width:746px;
  height:229px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:229px;
}
#u48 {
  position:absolute;
  left:2px;
  top:106px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1237px;
  top:1298px;
  width:215px;
  height:154px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:154px;
}
#u50 {
  position:absolute;
  left:2px;
  top:69px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1462px;
  top:1298px;
  width:259px;
  height:82px;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:82px;
}
#u52 {
  position:absolute;
  left:0px;
  top:24px;
  width:259px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1462px;
  top:1370px;
  width:259px;
  height:82px;
  font-size:24px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:82px;
}
#u54 {
  position:absolute;
  left:0px;
  top:27px;
  width:259px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:2020px;
  top:819px;
  width:340px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:3px;
  width:340px;
  height:5px;
}
#u56 {
  position:absolute;
  left:2075px;
  top:709px;
  width:230px;
  height:100px;
  font-size:28px;
  text-align:center;
  line-height:36px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:100px;
}
#u57 {
  position:absolute;
  left:2px;
  top:32px;
  width:226px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:2410px;
  top:291px;
  width:750px;
  height:1204px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1204px;
}
#u59 {
  position:absolute;
  left:2px;
  top:594px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:2410px;
  top:201px;
  width:750px;
  height:90px;
  font-size:34px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
}
#u61 {
  position:absolute;
  left:2px;
  top:25px;
  width:746px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:2426px;
  top:222px;
  width:44px;
  height:44px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u63 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:2410px;
  top:161px;
  width:750px;
  height:40px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:2412px;
  top:403px;
  width:746px;
  height:132px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:132px;
}
#u67 {
  position:absolute;
  left:2px;
  top:58px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:2504px;
  top:419px;
  width:202px;
  height:54px;
  font-size:28px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:54px;
}
#u69 {
  position:absolute;
  left:0px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:2425px;
  top:433px;
  width:64px;
  height:69px;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:69px;
}
#u71 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:2412px;
  top:736px;
  width:746px;
  height:140px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:140px;
}
#u73 {
  position:absolute;
  left:2px;
  top:62px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:2504px;
  top:744px;
  width:214px;
  height:61px;
  font-size:28px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:61px;
}
#u75 {
  position:absolute;
  left:0px;
  top:14px;
  width:214px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:2417px;
  top:776px;
  width:64px;
  height:69px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:69px;
}
#u77 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:2412px;
  top:565px;
  width:746px;
  height:141px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:141px;
}
#u79 {
  position:absolute;
  left:2px;
  top:62px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:2504px;
  top:574px;
  width:283px;
  height:65px;
  font-size:28px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:65px;
}
#u81 {
  position:absolute;
  left:0px;
  top:16px;
  width:283px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:2422px;
  top:603px;
  width:64px;
  height:69px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:69px;
}
#u83 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:3250px;
  top:721px;
  width:400px;
  height:100px;
  font-size:28px;
  line-height:36px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
}
#u85 {
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:3010px;
  top:433px;
  width:128px;
  height:82px;
  font-size:24px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:82px;
}
#u87 {
  position:absolute;
  left:0px;
  top:27px;
  width:128px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:2999px;
  top:765px;
  width:139px;
  height:82px;
  font-size:24px;
  text-align:right;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:82px;
}
#u89 {
  position:absolute;
  left:0px;
  top:27px;
  width:139px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:2999px;
  top:596px;
  width:139px;
  height:82px;
  font-size:24px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:82px;
}
#u91 {
  position:absolute;
  left:0px;
  top:27px;
  width:139px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:3231px;
  top:831px;
  width:469px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:452px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:3px;
  width:469px;
  height:5px;
}
#u93 {
  position:absolute;
  left:2852px;
  top:596px;
  width:139px;
  height:82px;
  font-size:24px;
  color:#00CC00;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:82px;
}
#u94 {
  position:absolute;
  left:0px;
  top:27px;
  width:139px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:2412px;
  top:291px;
  width:746px;
  height:100px;
  font-size:28px;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:100px;
}
#u96 {
  position:absolute;
  left:2px;
  top:34px;
  width:742px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:3088px;
  top:325px;
  width:37px;
  height:32px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1314px;
  top:311px;
  width:100px;
  height:100px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u100 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1290px;
  top:421px;
  width:149px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u102 {
  position:absolute;
  left:0px;
  top:14px;
  width:149px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1544px;
  top:311px;
  width:100px;
  height:100px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u104 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1520px;
  top:421px;
  width:149px;
  height:60px;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u106 {
  position:absolute;
  left:0px;
  top:14px;
  width:149px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:2507px;
  top:473px;
  width:364px;
  height:65px;
  font-size:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:65px;
}
#u108 {
  position:absolute;
  left:0px;
  top:20px;
  width:364px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:2504px;
  top:639px;
  width:364px;
  height:65px;
  font-size:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:65px;
}
#u110 {
  position:absolute;
  left:0px;
  top:20px;
  width:364px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:2504px;
  top:811px;
  width:364px;
  height:65px;
  font-size:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:65px;
}
#u112 {
  position:absolute;
  left:0px;
  top:20px;
  width:364px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:3720px;
  top:201px;
  width:750px;
  height:1294px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1294px;
}
#u114 {
  position:absolute;
  left:2px;
  top:639px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:3720px;
  top:201px;
  width:750px;
  height:90px;
  font-size:34px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
}
#u116 {
  position:absolute;
  left:2px;
  top:25px;
  width:746px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:3736px;
  top:221px;
  width:44px;
  height:44px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u118 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:3720px;
  top:161px;
  width:750px;
  height:40px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:3830px;
  top:472px;
  width:150px;
  height:150px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u122 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:3820px;
  top:650px;
  width:171px;
  height:82px;
  font-size:28px;
  text-align:center;
  line-height:72px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:82px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:4220px;
  top:472px;
  width:150px;
  height:150px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u126 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:4210px;
  top:650px;
  width:171px;
  height:82px;
  font-size:28px;
  text-align:center;
  line-height:72px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:82px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:3830px;
  top:800px;
  width:150px;
  height:150px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u130 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:3820px;
  top:978px;
  width:171px;
  height:82px;
  font-size:28px;
  text-align:center;
  line-height:72px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:82px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:3830px;
  top:1104px;
  width:150px;
  height:150px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u134 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:3820px;
  top:1282px;
  width:171px;
  height:82px;
  font-size:28px;
  text-align:center;
  line-height:72px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:82px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:3738px;
  top:291px;
  width:715px;
  height:120px;
  font-size:28px;
  line-height:48px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:120px;
}
#u138 {
  position:absolute;
  left:0px;
  top:12px;
  width:715px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:3720px;
  top:415px;
  width:750px;
  height:10px;
  opacity:0.3;
}
#u139_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u140 {
  position:absolute;
  left:4230px;
  top:800px;
  width:150px;
  height:150px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u141 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:4220px;
  top:978px;
  width:171px;
  height:82px;
  font-size:28px;
  text-align:center;
  line-height:72px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:82px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:4230px;
  top:1104px;
  width:150px;
  height:150px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u145 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:4220px;
  top:1282px;
  width:171px;
  height:82px;
  font-size:28px;
  text-align:center;
  line-height:72px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:82px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:4620px;
  top:301px;
  width:290px;
  height:100px;
  font-size:28px;
  line-height:36px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:100px;
}
#u149 {
  position:absolute;
  left:2px;
  top:32px;
  width:286px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:4440px;
  top:346px;
  width:160px;
  height:10px;
}
#u150_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_line {
  position:absolute;
  left:0px;
  top:4px;
  width:160px;
  height:3px;
}
#u151 {
  position:absolute;
  left:1795px;
  top:311px;
  width:100px;
  height:100px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u152 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1771px;
  top:421px;
  width:149px;
  height:60px;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u154 {
  position:absolute;
  left:0px;
  top:14px;
  width:149px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:641px;
  top:200px;
  width:149px;
  height:60px;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u156 {
  position:absolute;
  left:0px;
  top:14px;
  width:149px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1920px;
  top:356px;
  width:110px;
  height:10px;
}
#u157_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u157_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u157_line {
  position:absolute;
  left:0px;
  top:3px;
  width:110px;
  height:5px;
}
#u158 {
  position:absolute;
  left:2040px;
  top:253px;
  width:340px;
  height:249px;
  font-size:28px;
  text-align:left;
  line-height:36px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:249px;
}
#u159 {
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  word-wrap:break-word;
}
